---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - Raymond Flores</title>
	</head>
	<body>
		<h1>Astro -Raymond Flores</h1>
		<h2>Netlify</h2>
		<p>It is easy to publish with Astro using Netlify</p>
		<p>localhost and Online Publishing</p>
	</body>
</html>
<style>
	body{background-color: red;}
</style>
