<!-- Begin Pagefooter -->
<footer id="pagefooter">    
    <div class="container">
        <div id="quote">
            <h3>Final Thoughts</h3>
            <blockquote>A person who thinks all the time
                Has nothing to think about except thoughts - Alan Watts</blockquote>
        </div>
        <!-- End Quote -->
        <div id="pagefooterlinks">
            <h3>Links</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">About</a></li>
                <li><a href="index.html">Blog</a></li>
            </ul>
        </div>
    </div>
    <!-- End Container -->
    </footer>
    <!-- End Pagefooter -->

    <style>
        #pagefooter
{
	background-color: var(--color-primary);
	color: #fff;
	text-align: center;
	padding: 2rem;
	padding-top: 6rem;
}
#pagefooter .container
{
	background-color: #C5C4C4;
	border: 2px red solid;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 1.5rem;
}
#pagefooter a
{
	color: #fff;
}
#pagefooter a:hover
{
	color: #b7c1bf;
}
#pagefooter #quote
{
	text-align: left;
}
#pagefooterlinks
{
	display: none;
}
    </style>