---

---

<!-- Begin Pageheader -->
<header id="pageheader">
    <div class="container">
        <div class="logo">
            <img src="Images/dodgerslogo.png" alt="Dodgers Logo">
        </div>

        <nav>
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">About</a></li>
                <li><a href="index.html">Blog</a></li>
            </ul>
        </nav>
    </div>
    <!-- End Container -->
    </header>
    <!-- End Pageheader -->
    <style>
        #pageheader {
		background-color: var(--color-primary);
		height: 7.0rem;	}
	#pageheader .container
	{
		background-color: #C5C4C4;
		border: 2px solid red;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0 2rem 0 2rem;
	}
	.logo img
	{
		height: 6rem;
	}

	.logo :hover
	{
		animation-name: swim;
		animation-duration: .5s;
		animation-iteration-count: infinate;
		animation-direction: alternate;
		animation-timing-function: linear;
	}
	@keyframes swim
	{
		0%{transform: rotate(0deg);}
		100%{transform: rotate(45deg);}
	}

	/* header Menu */
	#menu
	{
		background-color: #093C6B;
		border: 2px solid red;
		display: flex;
		justify-content: space-between;
		width: 20rem;
		list-style-type: none;
		background-color: none;
		padding: 1rem;
		border-radius: 15px;
		
	}
#menu li a
	{
		color: #fff;
	}
    </style>