<!-- Begin Semesters -->
<section id="semesters">
    
    <div class="container">
        <h2>Key Assignments</h2>

        <section id="workthumbnails">
            <div class="thumbnail">
                <img class="thumb" src="Images/thumbnail.gif" alt="VS Code">
                <img class="thumb" src="Images/thumbnail.gif" alt="Git">
                <img class="thumb" src="Images/thumbnail.gif" alt="Mark Down">
                <img class="thumb" src="Images/thumbnail.gif" alt="JavaScript">
                <img class="thumb" src="Images/thumbnail.gif" alt="Photoshop">
                <img class="thumb" src="Images/thumbnail.gif" alt="Github">
            </div>
        </section>

        <h3>Semester 1</h3>
        <ul class="assignments">
            <li><a href="#" target="new">A001 - Description</a></li>
            <li><a href="#" target="new">A002 - Description</a></li>
            <li><a href="#" target="new">A003 - Description</a></li>
            <li><a href="#" target="new">A004 - Description</a></li>
        </ul>

        <h3>Semester 2</h3>
        <ul class="assignments">
            <li><a href="#" target="new">A005 - Description</a></li>
            <li><a href="#" target="new">A006 - Description</a></li>
            <li><a href="#" target="new">A007 - Description</a></li>
            <li><a href="#" target="new">A008 - Description</a></li>
        </ul>
    </div>
    <!-- End Container -->
    </section>
    <!-- End Semesters -->

    <style>
        #semesters {
	padding: 2rem 0 2rem 0;
	}
	#semesters h2, #semesters h3
	{
		padding: 2rem 0 2rem 0;
	}
	#semesters h2
	{
		font-size: 4rem;
	}
	#semesters h3
	{
		font-size: 2.5rem;
	}
	.assignments a
	{
		color: #2d6858;
	}
    </style>