<!-- Begin Showcase -->
<section id="showcase">
    <div id="showcasetesxt">
        <h1>Raymond Flores</h1>
        <h2>Portfolio</h2>
        <blockquote>❝ Never let the fear of striking out keep you from playing the game.  ❞
        </blockquote>
        <blockquote>-Babe Ruth</blockquote>
    </div>

    <div id="showcaseimage">
        <img src="Images/technologiesbig.png" alt="Technologies" id="logosbig"> 
        <img src="Images/technologiessmall.png" alt="Technologies" id="logossmall"> 
    </div> 

    <p id="showcaseintro">
        This is a showcase of my web design/development work.
    </p>
</section>
<!-- End Showcase -->

<style>

#showcase
	{
		border: .1px solid #093C6B;
		background-color: var(--color-primary);
		padding: 3rem;

		background-image: url(/Images/betts.jpg);
		background-image: url(/Images/kershaw.jpg);
		background-image: url(/Images/ohtani.png);
		
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: bottom left;
	}


	#showcasetext
	{
		border: .2rem solid none;
		color: #fff;
		text-align: center;
		margin: 5rem auto;
		max-width: 60rem;
	}
	#showcase h1
	{
		font-size: 5rem;
		margin-bottom: 2rem;
		text-shadow: 0 0 1rem black;
		color: white;
		text-align: center;
		
	}
	#showcase h2
	{
		text-align: center;
		color: #fff;
	}

	#showcase blockquote
	{
		font-size: 2.4rem;
		margin-bottom: 2rem;
		text-align: center;
		color: white;
	}
	#showcaseimage
	{
		text-align: center;
		
	}
	#showcaseimage img
	{
		border-radius: 1rem;
		margin: auto;
		
	}
	#showcaseintro
	{
		color: #fff;
		text-align: center;
		font-size: 2.4rem;
	}
	/* Hide Big Logos/Technologies for Mobile */
	/* #logosbig
	{
		display: none;
	} */
	#logossmall
	{
		width: 30rem;
	}
</style>