<!-- Begin Showcase -->
<section id="showcase">
    <div id="showcasetesxt">
        <h1>Raymond Flores</h1>
        <h2>Portfolio</h2>
        <blockquote>❝ Never let the fear of striking out keep you from playing the game.  ❞
        </blockquote>
        <blockquote>-Babe Ruth</blockquote>
    </div>

    <div id="showcaseimage">
        <img src="Images/technologiesbig.png" alt="Technologies" id="logosbig"> 
        <img src="Images/technologiessmall.png" alt="Technologies" id="logossmall"> 
    </div> 

    <p id="showcaseintro">
        This is a showcase of my web design/development work.
    </p>
</section>
<!-- End Showcase -->